<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WikiQuiz</title>
    <!--    <link rel="stylesheet" type="text/css" href="../META-INF/resources/css/style.css">-->
    <!--    <link rel="stylesheet" type="text/css" href="../META-INF/resources/css/displayquiz.css">-->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/displayquiz.css" rel="stylesheet" type="text/css">
    <script>
        const sleep = m => new Promise(r => setTimeout(r, m));

        let answeredIdx = 0;
        let answeredAudio = [
            new Audio('/audio/answered/1.mp3'),
            new Audio('/audio/answered/2.mp3'),
            new Audio('/audio/answered/3.mp3'),
            new Audio('/audio/answered/4.mp3'),
            new Audio('/audio/answered/5.mp3'),
            new Audio('/audio/answered/6.mp3')
        ];
        let correctAudio = new Audio('/audio/correct.mp3');
        let incorrectAudio = new Audio('/audio/incorrect.mp3');

        const TIME_TO_PROVIDE_FAKE_ANSWERS = 30000;
        const TIME_TO_PICK_ANSWERS = 10000;

        let currentQuestion;
        let socket = new WebSocket("ws://" + location.host + "/socket/display/{quizid}");
        let nextEvent;
        let answerIdxs = [];

        socket.onmessage = function (m) {
            console.log("Got message: " + m.data);

            clearTimeout(nextEvent);

            let message = JSON.parse(m.data);
            if (message.type === "fake_answer_request") {
                displaySupplyFakeAnswer(message);
            } else if (message.type === "question") {
                displayChooseAnswer(message);
            } else if (message.type === "answer") {
                displayAnswers(message);
            } else if (message.type === "results") {
                displayResults(message);
            }
        };

        function displayResults(message) {
            cancelTimer();
            if (message.type === "results") {
                document.getElementById("resultintro").textContent = "Final results";
            }
            document.getElementById("question").textContent = "";
            document.getElementById("answers").textContent = "";
            document.getElementById("fakeanswertime").style.display = "none";
            document.getElementById("resultstable").textContent = "";

            let namesEle = document.createElement("div");
            namesEle.classList.add("names");
            let scoresEle = document.createElement("div");
            scoresEle.classList.add("scores");

            let maxScore = 0;
            for (const [playerName, score] of Object.entries(message.scores)) {
                if (score > maxScore) {
                    maxScore = score;
                }
            }

            for (const [playerName, score] of Object.entries(message.scores)) {
                let nameEle = document.createElement("div");
                nameEle.classList.add("name");
                nameEle.textContent = playerName;
                namesEle.appendChild(nameEle);

                let scoreEle = document.createElement("div");
                scoreEle.classList.add("score");
                scoreEle.textContent = score;
                scoresEle.appendChild(scoreEle);

                scoreEle.style.width = ((score / maxScore) * 100) + "%";
            }

            document.getElementById("resultstable").appendChild(namesEle);
            document.getElementById("resultstable").appendChild(scoresEle);

            document.getElementById("results").style.display = "";
        }

        function displaySupplyFakeAnswer(message) {
            cancelTimer();

            (async () => {

                document.getElementById("question").textContent = message.question;

                document.getElementById("answers").textContent = "";
                document.getElementById("fakeanswertime").style.display = "";

                startTimer(TIME_TO_PROVIDE_FAKE_ANSWERS);
                nextEvent = setTimeout(function () {
                    socket.send(JSON.stringify({
                        type: "fakeanswerfinished",
                    }));
                }, TIME_TO_PROVIDE_FAKE_ANSWERS);
            })();
        }

        function displayChooseAnswer(message) {
            cancelTimer();

            (async () => {
                currentQuestion = message.question;
                document.getElementById("fakeanswertime").style.display = "none";
                document.getElementById("question").textContent = "Pick your answers!";
                document.getElementById("answers").textContent = "";
                for (const answer of message.answers) {
                    createAnswer(answer);
                }

                startTimer(TIME_TO_PICK_ANSWERS);
                nextEvent = setTimeout(function () {
                    socket.send(JSON.stringify({
                        type: "questionfinished",
                    }));
                }, TIME_TO_PICK_ANSWERS);

            })();

        }

        function displayAnswers(message) {
            if (answerIdxs.includes(message.questionIdx)) {
                return;
            }
            answerIdxs.push(message.questionIdx);

            cancelTimer();

            (async () => {
                let correctAnswer = message.correctAnswer;
                document.getElementById("question").textContent = message.question;
                ensureAnswersVisible(message.choices);
                await sleep(4000);

                for (let key in message.answers) {

                    if (!Object.prototype.hasOwnProperty.call(message.answers, key)) {
                        continue;
                    }

                    let fakeAuthorMsg = "Our tosh!";
                    if (message.fakeAnswers[key]) {
                        fakeAuthorMsg = message.fakeAnswers[key] + "'s tosh!";
                    }
                    let playersAnsweredList = message.answers[key];

                    let answerEle = getAnswer(key);
                    answerEle.classList.add("active");
                    await sleep(2000);

                    let playersansweredEle = document.createElement("div");
                    playersansweredEle.classList.add("playersanswered");
                    answerEle.appendChild(playersansweredEle);

                    answeredIdx = 0;
                    for (const playerAnswered of playersAnsweredList) {
                        answeredAudio[answeredIdx].play();
                        answeredIdx = (answeredIdx + 1);
                        if (answeredIdx >= answeredAudio.length) {
                            answeredIdx = answeredAudio.length - 1;
                        }

                        let playeransweredEle = document.createElement("span");
                        playeransweredEle.textContent = playerAnswered;
                        playersansweredEle.appendChild(playeransweredEle);
                        await sleep(800);
                    }

                    await sleep(2000);

                    if (key !== correctAnswer) {
                        incorrectAudio.play();
                        answerEle.classList.add("tosh");
                        let tosherEle = document.createElement("div");
                        tosherEle.classList.add("tosher")
                        tosherEle.textContent = fakeAuthorMsg;
                        answerEle.appendChild(tosherEle);
                        await sleep(5000);
                        answerEle.classList.remove("active");
                        await sleep(500);
                    } else {
                        correctAudio.play();
                        answerEle.classList.add("correct");
                    }
                }

                getAnswer(correctAnswer).classList.add("correct");
                getAnswer(correctAnswer).classList.add("active");

                markNonCorrectAnswersAsTosh(correctAnswer);
                await sleep(3000);

                if (message.questionIdx < message.totalQuestions - 1) {
                    displayResults(message);
                    await sleep(3000);
                    document.getElementById("results").style.display = "none";
                }


                socket.send(JSON.stringify({
                    type: "displayanswerfinished",
                }));
            })();
        }

        function markNonCorrectAnswersAsTosh(correctAnswer) {
            for (let element of document.getElementById("answers").children) {
                if (element.getElementsByClassName("answertext").item(0).textContent !== correctAnswer) {
                    element.classList.add("tosh");
                }
            }
        }

        function getAnswer(text) {
            for (let element of document.getElementById("answers").children) {
                if (element.getElementsByClassName("answertext").item(0).textContent === text) {
                    return element;
                }
            }
        }

        function startTimer(ms) {
            let progress = document.getElementById("progress");
            progress.style.animationDuration = ms + "ms";
            progress.classList.remove("progress");
            void progress.offsetWidth;
            progress.classList.add("progress")
        }

        function cancelTimer() {
            progress.classList.remove("progress");
        }

        function waitForSocketConnection(callback) {
            setTimeout(
                function () {
                    if (socket.readyState === 1) {
                        console.log("Connection is made")
                        if (callback != null) {
                            callback();
                        }
                    } else {
                        console.log("wait for connection...")
                        waitForSocketConnection(socket, callback);
                    }

                }, 50);
        }

        function createAnswer(answer) {
            let answerTextEle = document.createElement("div");
            answerTextEle.classList.add("answertext");
            answerTextEle.textContent = answer;

            let answerEle = document.createElement("div");
            answerEle.classList.add("answer");
            answerEle.appendChild(answerTextEle);

            document.getElementById("answers").appendChild(answerEle);
        }

        function ensureAnswersVisible(answerList) {
            for (const answer of answerList) {
                if (!getAnswer(answer)) {
                    createAnswer(answer);
                }
            }
        }

        window.onload = function () {
            let initialQuestionNum = {initialQuestionNum};
            if (initialQuestionNum > -1) {
                waitForSocketConnection(function () {
                    socket.send(JSON.stringify({
                        type: "reload",
                    }));
                });
            }
        }

    </script>
</head>
<body>
<div class="meter">
    <div class="progress" id="progress"></div>
</div>

<div class="question" id="question"></div>

<div class="fakeanswertime" id="fakeanswertime" style="display: none;">
    Enter your tosh now!
</div>

<div id="answers">
</div>

<div class="results" id="results" style="display: none;">
    <h1 id="resultintro">How you doing?</h1>
    <div class="resultstable" id="resultstable">
    </div>
</div>
</body>
</html>