<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WikiQuiz</title>
    <style>
        .question {
            font-size: 2em;
        }

        .answer.correct {
            color: darkgreen;
            font-weight: bold;
            font-size: 1.3em;
        }

        .results {
        }

        .scores {
            font-size: 2em;
        }

        .name {
            margin-right: 2em;
        }
    </style>
    <script>
        let socket = new WebSocket("ws://" + location.host + "/socket/display/{quizid}");
        let nextEvent;

        function setFakeAnswersTimeout() {
            sendAfterTimeout({
                type: "fakeanswerfinished",
            }, 10000);
        }

        function setAnswerQuestionTimeout() {
            sendAfterTimeout({
                type: "questionfinished",
            }, 10000);
        }

        function setDisplayAnswerTimeout() {
            sendAfterTimeout({
                type: "displayanswerfinished",
            }, 3000);
        }

        function sendAfterTimeout(toSend, timeout) {
            nextEvent = setTimeout(function () {
                socket.send(JSON.stringify(toSend));
            }, timeout);
        }

        socket.onmessage = function (m) {
            console.log("Got message: " + m.data);
            clearTimeout(nextEvent);

            let message = JSON.parse(m.data);
            if (message.type === "fake_answer_request") {
                currentQuestionNumber = message.questionNumber;
                document.getElementById("question").innerText = "";
                document.getElementById("answers").innerHTML = "";
                document.getElementById("fakeanswertime").style.display = "";
                setFakeAnswersTimeout();
            } else if (message.type === "question") {
                document.getElementById("fakeanswertime").style.display = "none";
                document.getElementById("question").innerText = message.question;
                document.getElementById("answers").innerHTML = "";
                for (const element of message.answers) {
                    let answerEle = document.createElement("div");
                    answerEle.classList.add("answer");
                    answerEle.innerHTML = element;
                    document.getElementById("answers").appendChild(answerEle);
                }
                setAnswerQuestionTimeout();
            } else if (message.type === "answer") {
                for (const element of document.getElementById("answers").children) {
                    if (element.innerHTML === message.correctAnswer) {
                        element.classList.add("correct");
                    }
                }
                setDisplayAnswerTimeout();
            } else if (message.type === "results") {
                document.getElementById("question").innerHTML = "";
                document.getElementById("answers").innerHTML = "";

                for (const score of message.scores) {
                    let nameEle = document.createElement("span");
                    nameEle.classList.add("name");
                    nameEle.innerText = score.name;
                    let valEle = document.createElement("span");
                    valEle.innerText = score.score;
                    valEle.classList.add("value");

                    let scoreEle = document.createElement("div");
                    scoreEle.classList.add("score");
                    scoreEle.appendChild(nameEle);
                    scoreEle.appendChild(valEle);
                    document.getElementById("scores").appendChild(scoreEle);
                }
                document.getElementById("results").style.display = "";
            }
        };

    </script>
</head>
<body>
<div class="fakeanswertime" id="fakeanswertime" style="display: none;">
    Enter your fake answers now!
</div>

<div class="question" id="question"></div>
<div id="answers">

</div>
<div class="results" id="results" style="display: none;">
    <h1>Results</h1>
    <div class="scores" id="scores">

    </div>
    <a href="/">Back to home</a>
</div>
</body>
</html>