<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WikiQuiz</title>
    <script>
        let name = window.prompt("name?", "Michael");

        let registry = {};
        registry.playerName = name;

        fetch("http://" + location.host + "/phone/{quizid}/register", {
            method: 'post',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(registry)
        }).then(function (response) {
            return response.text();
        }).then(function (text) {
            window.location.href = "http://" + location.host + "/phone/{quizid}/" + text;
        });

    </script>
</head>
<body>
</body>
</html>