<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/site.webmanifest" rel="manifest">
    <link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon">
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>WikiQuiz</title>
    <!--    <link rel="stylesheet" type="text/css" href="../META-INF/resources/style.css">-->
    <!--    <link rel="stylesheet" type="text/css" href="../META-INF/resources/phonestart.css">-->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/phonestart.css" rel="stylesheet" type="text/css">
    <script>
        document.onload = function () {
            let nameInput = document.getElementById('nameInput');
            nameInput.focus();
            nameInput.select();
        }

        function register() {
            document.getElementById("registerButton").disabled = true;
            let registry = {};
            registry.playerName = document.getElementById("nameInput").value;

            fetch(location.protocol + "//" + location.host + "/phone/{quizid}/register", {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(registry)
            }).then(function (response) {
                return response.text();
            }).then(function (text) {
                window.location.href = "http://" + location.host + "/phone/{quizid}/" + text;
            });
        }

    </script>
</head>
<body>
<div>
    <p>Almost in!</p>
    <p>Who are you, anyway?</p>
</div>
<input id="nameInput">
<button id="registerButton" onclick="register()">That's me</button>
</body>
</html>