<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/site.webmanifest" rel="manifest">
    <link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon">
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>WikiQuiz</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/phonequiz.css" rel="stylesheet" type="text/css">
    <!--    <link rel="stylesheet" type="text/css" href="../META-INF/resources/style.css">-->
    <!--    <link rel="stylesheet" type="text/css" href="../META-INF/resources/phonequiz.css">-->
    <script>
        window.socket = new WebSocket("ws://" + location.host + "/socket/phone/{quizid}/{personid}");

        socket.onopen = function () {
            console.log("Connected to the web socket");
            document.getElementById("loading").style.display = "none";
            document.getElementById("introText").style.display = "";
        };
        socket.onmessage = function (m) {
            console.log("Got message: " + m.data);
            document.getElementById("introText").style.display = "none";
            let message = JSON.parse(m.data);
            if (message.type === "fake_answer_request") {
                document.getElementById("fakesubmissionanswer").value = "";
                document.getElementById("fakesubmissionquestion").textContent = message.question;
                document.getElementById("fakesubmission").style.display = "";
                document.getElementById("fakesubmissionbutton").disabled = false;
            } else if (message.type === "question") {
                document.getElementById("fakesubmission").style.display = "none";
                document.getElementById("answerquestion").style.display = "";
                document.getElementById("question").textContent = message.question;
                document.getElementById("buttons").textContent = "";
                let code = 97;
                for (const answer of message.answers) {
                    let buttonEle = document.createElement("button");
                    buttonEle.classList.add("answerButton");
                    buttonEle.textContent = String.fromCharCode(code) + ": " + answer;
                    buttonEle.onclick = function () {
                        quizClick(answer);
                    }
                    document.getElementById("buttons").appendChild(buttonEle);
                    code++;
                }
            } else if (message.type === "answer") {
                document.getElementById("answerquestion").style.display = "none";
                //Do nothing
            } else if (message.type === "results") {
                //Quiz is over
            }
        };

        function quizClick(answer) {
            window.socket.send(JSON.stringify({
                type: "answer",
                answer: answer
            }));
            document.getElementById("introText").style.display = "";
            document.getElementById("answerquestion").style.display = "none";
        }

        function submitFakeAnswer() {
            window.socket.send(JSON.stringify({
                type: "fakeanswer",
                answer: document.getElementById("fakesubmissionanswer").value
            }));
            document.getElementById("fakesubmissionbutton").disabled = true;
            document.getElementById("introText").style.display = "";
            document.getElementById("fakesubmission").style.display = "none";
        }

        function checkLength() {
            document.getElementById("fakesubmissionbutton").disabled = document.getElementById("fakesubmissionanswer").value.length === 0;
        }

    </script>
</head>
<body>
<div class="loading" id="loading"></div>

<div class="introText" id="introText" style="display: none;">
    <p>You're all set.</p>
    <p>Tell everyone else to get a move on.</p>
</div>

<div class="fakesubmission" id="fakesubmission" style="display: none;">
    <label class="fakeanswerprompt" for="fakesubmissionanswer" id="fakeanswerprompt">Time to give your best
        fib...</label>
    <div class="fakesubmissionquestion question" id="fakesubmissionquestion"></div>
    <input class="fakesubmissionanswer" id="fakesubmissionanswer" maxlength="30" oninput="checkLength();">
    <button class="fakesubmissionbutton" disabled id="fakesubmissionbutton" onclick="submitFakeAnswer()">That'll fool
        'em
    </button>
</div>

<div class="answerquestion" id="answerquestion" style="display: none;">
    <div class="question" id="question"></div>
    <div class="buttons" id="buttons"></div>
</div>
</body>
</html>