<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/site.webmanifest" rel="manifest">
    <link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon">
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">

    <meta charset="UTF-8">
    <title>WikiQuiz</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <script>
        const sleep = m => new Promise(r => setTimeout(r, m));

        let popAudio = new Audio('/audio/pop.mp3');
        let backgroundAudio = new Audio('/audio/background_loop.mp3');
        backgroundAudio.loop = true;

        let joinedIdx = 0;
        let joinedAudio = [
            new Audio('/audio/joined/1.mp3'),
            new Audio('/audio/joined/2.mp3'),
            new Audio('/audio/joined/3.mp3'),
            new Audio('/audio/joined/4.mp3'),
            new Audio('/audio/joined/5.mp3'),
            new Audio('/audio/joined/6.mp3'),
            new Audio('/audio/joined/7.mp3'),
            new Audio('/audio/joined/8.mp3')
        ];

        let socket = new WebSocket("ws://" + location.host + "/socket/{quizid}");

        socket.onmessage = function (m) {
            console.log("Got message: " + m.data);

            let message = JSON.parse(m.data);
            if (message.type === "player_joined") {
                addPlayer(message.playerName);
            } else if (message.type === "player_removed") {
                removePlayer(message.playerName);
            }
        };

        function addPlayer(playerName) {
            joinedAudio[joinedIdx].play();
            joinedIdx = (joinedIdx + 1) % joinedAudio.length;

            let playerEle = document.createElement("span");
            playerEle.textContent = playerName;
            playerEle.classList.add("player");
            document.getElementById("players").appendChild(playerEle);

            checkTextEleStatus();
        }

        function removePlayer(playerName) {
            popAudio.play();

            let toRemove;
            for (let element of document.getElementById("players").children) {
                if (element.textContent === playerName) {
                    toRemove = element;
                }
            }
            if (toRemove) {
                document.getElementById("players").removeChild(toRemove);
            }

            checkTextEleStatus();
        }

        function checkTextEleStatus() {
            if (document.getElementById("players").childElementCount >= 2) {
                document.getElementById("want-in").style.display = "none";
                document.getElementById("start-link").style.display = "";
            } else {
                document.getElementById("want-in").style.display = "";
                document.getElementById("start-link").style.display = "none";
            }

            if (document.getElementById("players").childElementCount > 0) {
                document.getElementById("game-expl").style.display = "none";
            } else {
                document.getElementById("game-expl").style.display = "";
            }
        }

        function showTutorial() {
            (async () => {
                backgroundAudio.play();

                document.getElementById("game-expl").style.display = "none";
                document.getElementById("players").style.display = "none";
                document.getElementById("want-in").style.display = "none";
                document.getElementById("start-link").style.display = "none";
                document.getElementById("dev-only").style.display = "none";
                document.getElementById("qrcontainer").style.display = "none";
                document.getElementById("tutorial").style.display = "";

                for (let ele of document.getElementById("tutorial").children) {
                    ele.classList.add("active");
                    await sleep(ele.getAttribute("data-timeout"));
                    ele.classList.remove("active");
                }

                window.location.href = "/display/{quizid}";

            })();
        }

        window.onload = function () {
            //@formatter:off
            {#for player in players}
            addPlayer("{player}");
            {/for}
            //@formatter:off
        }

    </script>
</head>
<body>
<h1>Tosh</h1>
<div class="mainsection game-expl" id="game-expl">
    <p>Tosh is a game similar to Balderdash, Fibbage, Fictionary and others.</p>
    <p>Fool your opponents by providing wrong answers for them to guess!</p>
</div>
<div class="mainsection players" id="players">
</div>
<div class="mainsection want-in" id="want-in">Want in? Just scan.</div>
<div class="mainsection start-link" id="start-link" style="display: none;">
    <a onclick="showTutorial();">Everyone's ready</a>
</div>
<div class="mainsection dev-only" id="dev-only">(Dev only) <a href="/phone/{quizid}">Phone link</a></div>
<div class="mainsection qrcontainer" id="qrcontainer"><img alt="/qrcode/{quizid}" src="/qrcode/{quizid}"></div>
<div class="tutorial" id="tutorial" style="display: none;">
    <!--    <div data-timeout="3000">Ok! Let's get started.</div>-->
    <!--    <div data-timeout="3000">Tosh is a game of deception & wits.</div>-->
    <!--    <div data-timeout="5000">You'll be presented with a series of questions.</div>-->
    <!--    <div data-timeout="6000">For each question, you first need to provide a fake answer you think others will fall for.-->
    <!--        That's your Tosh!-->
    <!--    </div>-->
    <!--    <div data-timeout="5000">You then need to pick the correct answer, avoiding everyone else's Tosh.</div>-->
    <!--    <div data-timeout="7000">You get 100 points for guessing the correct answer, and 40 points for each person you-->
    <!--        fool.-->
    <!--    </div>-->
    <!--    <div data-timeout="5000">Let's get going!</div>-->
        <div data-timeout="1000">First question coming up in... 5</div>
        <div data-timeout="1000">First question coming up in... 4</div>
        <div data-timeout="1000">First question coming up in... 3</div>
        <div data-timeout="1000">First question coming up in... 2</div>
        <div data-timeout="1000">First question coming up in... 1</div>
</div>
</body>
</html>